body {
    min-height: calc(100vh);
    background-image: linear-gradient(to bottom, #1f1f1f, #121212);
}
body, input, span, a {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    background-color: unset;
    letter-spacing: 0.026vh;
    -ms-user-select: none;
    text-decoration: none;
    user-select: none;
    font-weight: bold;
    font-size: 2.3vh;
    color: #ffffff;
    border: 0;
    margin: 0;
}

div.navigator {
    width: 32vh;
    height: 77%;
    padding: 4vh;
    position: fixed;
    background-color: #000000;
}

div.navigator a.logo {
    display: flex;
    cursor: pointer;
    align-items: center;
}

div.navigator a.logo img {
    width: 6vh;
    height: 6vh;
    filter: brightness(0) invert(1);
}

div.navigator a.logo span {
    padding: 0.8vh;
    font-size: 3.6vh;
}

div.navigator .container {margin-top: 6vh}
div.navigator .container .item {
    display: flex;
    cursor: pointer;
    margin-top: 2.6vh;
    align-items: center;
}

div.navigator .container .item span.selected,
div.navigator .container .item:hover span {color: #ffffff}
div.navigator .container .item span {
    color: #a3a3a3;
    font-size: 2.2vh;
}

div.navigator .container .item i.selected,
div.navigator .container .item:hover i {color: #ffffff}
div.navigator .container .item i {
    width: 6.26vh;
    color: #a8a8a8;
    font-size: 3.6vh;
}

div.navigator .container i.new {
    width: 7vh;
    font-size: 5vh;
    margin-left: -0.86vh;
}

div.navigator .container .item:hover .liked {
    background-image: linear-gradient(120deg, #501df3, #bce0da);
}

div.navigator .container .item .liked {
    width: 3.6vh;
    height: 3.6vh;
    position: relative;
    border-radius: 0.2vh;
    margin-right: 2.62vh;
    background-image: linear-gradient(120deg, #3a17a9, #839d99);
}

div.navigator .container .item .liked i {
    top: 50%;
    margin: 0;
    left: 100%;
    font-size: 1.82vh;
    position: absolute;
    margin-left: 0.326vh;
    transform: translate(-50%, -50%);
}

div.header {
    z-index: 1;
    right: 0vh;
    height: 10vh;
    display: flex;
    position: fixed;
    width: calc(100% - 45.2vh);
    padding: 0vh 2.6vh 0vh 2.6vh;
    background-color: rgba(0, 0, 0, 0.384);
}

div.header .left {
    flex: 1;
    display: flex;
    align-items: center;
}

div.left button i {color: #8b8b8b}
div.left button {
    border: 0;
    font-size: 3.6vh;
    margin-right: 2vh;
    border-radius: 100%;
    background-color: #090909;
    padding: 0.6vh 1.6vh 0.4vh 1.6vh;
}

div.header .right {
    flex: 0;
    display: flex;
    align-items: center;
}

div.header .right .verticalLine {
    width: 0.2vh;
    height: 3.72vh;
    background-color: #ffffff;
    margin: 0vh 1.62vh 0vh 1.62vh;
}

div.header .button:hover {
    width: 17.6vh;
    font-size: 2.5vh;
}

div.header .button,
a.footer .button {
    width: 17vh;
    color: #000000;
    text-align: center;
    border-radius: 20vh;
    margin: 0vh 0.2vh 0vh 0.2vh;
    background-color: #ffffff;
    padding: 2.6vh 0vh 2.2vh 0vh;
    transition: font-size 120ms, width 120ms;
}

div.header .subbutton:hover {
    color: #ffffff;
    font-size: 2.72vh;
}

div.header .subbutton {
    width: 24vh;
    color: #8b8b8b;
    font-size: 2.44vh;
    text-align: center;
    padding: 2vh 0vh 2vh 0vh;
    transition: color 120ms, font-size 120ms;
}

div.header .dl {width: 16vh; letter-spacing: 0.2vh}
a.footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    padding: 1.6vh 2vh 2vh 2.6vh;
    background-image: linear-gradient(90deg, #af2896, #509bf5);
}

a.footer div {
    flex: 1;
}

a.footer form {
    display: flex;
    align-items: center;
}

a.footer .title {
    font-size: 1.9vh;
    font-weight: normal;
    letter-spacing: 0.3vh;
}

a.footer .subtitle {
    width: 118vh;
    display: block;
    margin-top: 0.6vh;
    font-size: 2.5vh;
    line-height: 3.6vh;
    text-align: justify;
    font-weight: normal;
    letter-spacing: 0.1vh;
}

a.footer input.button {
    width: 30vh;
    margin: 2vh 6vh 2vh 6vh;
}

div.main {padding: 13.2vh 2.6vh 12.6vh 42.6vh}
div.main .container {
    display: flex;
    margin-bottom: 3.6vh;
    align-items: flex-end;
    justify-content: space-between;
}

div.main .container .title {font-size: 3.2vh; cursor: pointer}
div.main .container .subtitle::after {background-color: #a8a8a8}
div.main .container .subtitle {
    cursor: pointer;
    color: #a8a8a8;
    font-size: 2.26vh;
}

div.main .content {
    display: flex;
    margin-bottom: 5.2vh;
    justify-content: space-between;
}

div.content .item:hover {background-image: linear-gradient(to top, #242424, #242424)}
div.content .item {
    width: 30vh;
    padding: 2.2vh;
    cursor: pointer;
    border-radius: 0.92vh;
    background-image: linear-gradient(to top, #1f1f1f, #121212);
}

div.content .item .play:hover {
    right: 0.8vh;
    bottom: 0.9vh;
    background-color: #24e76c;
    padding: 2.7vh 2.6vh 2.3vh 2.7vh;
}

div.content .item:hover .play {opacity: 1}
div.content .item .play {
    opacity: 0;
    right: 1vh;
    bottom: 1vh;
    cursor:default;
    position: absolute;
    border-radius: 100%;
    background-color: #1fdf64;
    padding: 2.6vh 2.5vh 2.2vh 2.6vh;
}

div.content .item .play:hover i {
    font-size: 2.8vh;
    margin: 0 0 0.2vh 0.42vh;
}

div.content .item .play i {
    font-size: 2.6vh;
    color: #000000;
    margin: 0 0 0 0.32vh;
}

div.content .item div.img {
    margin: 0 auto;
    width: 29.6vh;
    height: 29.6vh;
    position: relative;
    border-radius: 1.2vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0.8vh 2.2vh #00000080;
    -webkit-box-shadow: 0 0.8vh 2.2vh #00000080;
    background-image: linear-gradient(to top, #1f1f1f, #121212);
}

div.content .item .title {
    padding: 0vh;
    display: block;
    margin-top: 3.6vh;
}

div.content .item .subtitle {
    padding: 0vh;
    line-clamp: 2;
    display: block;
    color: #a8a8a8;
    overflow: hidden;
    font-size: 2.3vh;
    line-height: 4vh;
    margin-top: 1.26vh;
    font-weight: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

/* Underline animation */
.underline {display: inline-block; position: relative}
.underline:hover {
    border-width: 1px;
    border-bottom: 1px;
    border-color: white;
}

.underline:after {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    transform: scaleX(0);
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Scrollbar */
html {overflow: hidden}
::-webkit-scrollbar {
    width: 2vh;
    background: none;
}

::-webkit-scrollbar-thumb:hover {background: #ffffff6b}
::-webkit-scrollbar-thumb {
    border-color: none;
    background: #ffffff4d;
}