<div class="container">
    <a class="title underline" onclick="alert('Mostrando tudo')"></a>
    <a class="subtitle underline" onclick="alert('Mostrando tudo')">
        MOSTRAR TUDO
    </a>
</div>
<div class="content" name="content-repeat">
    <a class="item" times="2" path="content-repeat">
        <div class="img">
            <div class="play">
                <i class="fa fa-play"></i>
            </div>
        </div>
        <span class="title"></span>
        <span class="subtitle"></span>
    </a>
</div>