<div class="left">
    <button id="previous" title="Página anterior" onclick="history.back()">
        <i class='fas fa-angle-left'></i>
    </button>
    <button id="next" title="Próxima página" onclick="history.forward()">
        <i class='fas fa-angle-right'></i>
    </button>
</div>
<div class="right">
    <form method="post" action="https://spotify.com/download" target="_blank">
        <input type="submit" class="subbutton dl" value="Baixar" />
    </form>
    <div class="verticalLine"></div>
    <form method="post" action="./signup.html">
        <input type="submit" class="subbutton" value="Inscrever-se" />
    </form>
    <form method="post" action="./login.html">
        <input type="submit" class="button" value="Entrar" />
    </form>
</div>