<a class="logo" href="./">
    <img src="./assets/icon.png">
    <span>Spotify</span>
</a>
<div class="container">
    <a class="item" href="./">
        <i class="fa fa-home selected"></i>
        <span class="selected">Início</span>
    </a>
    <a class="item" href="./search.html">
        <i class="fa fa-search"></i>
        <span>Buscar</span>
    </a>
    <a class="item" href="./collection.html">
        <i class="fa fa-book"></i>
        <span>Sua Biblioteca</span>
    </a>
</div>
<div class="container">
    <a class="item" href="./">
        <i class="material-icons new">add_box</i>
        <span>Criar playlist</span>
    </a>
    <a class="item" href="./search.html">
        <div class="liked">
            <i class="fa fa-heart"></i>
        </div>
        <span>Músicas Curtidas</span>
    </a>
</div>